body {
  font-size: 10px;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
   align-items: flex-end;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  transition: all .07s ease;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

p {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

/*PANEL DEL PIANO*/

.panel {
  display: flex;
  justify-content: center;
  border-radius: 2%;
  margin-bottom: 100px;
  margin-left: -5rem;
}

.teclas_blancas{
  display: flex;
}

.teclas_negras{
  display: flex;
  position: absolute;
  margin-left: -40px;
}
.space{
  padding: 0;
  width: 20px;
  height: 1px;
  margin-left: 11px;
  background-color: transparent;
}

.tecla_negra {
  padding: 0;
  width: 22px;
  height: 109px;
  background-image: url("../images/Tecla_Negra.png");
  background-size: cover;
  margin-left: 11px;
  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.tecla_blanca {
  padding: 0;
  width: 32.5px;
  height: 157px;
  background-image: url("../images/Tecla_Blanca.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nota_blanca{
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 13px;
  color: blue;
}
.nota_negra{
  margin-bottom: 17px;
  font-weight: 900;
  font-size: 10px;
  color: bisque;
}